* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", serif;
}
header {
  min-height: 60px;
  background: #ffeb3b;
}
.logo-container {
  font-size: 1.1em;
  padding: 16px;
  font-weight: 600;
}
.blog-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 20px 15px;
}
.post-container {
  background: #3e982e12;
  padding: 5px;
  border-radius: 3px;
}
.post-container:hover {
  background: #3e982e26;
}
.post-container .post-title {
  height: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 0.9em;
  overflow: hidden;
}

.post-container a img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 2px;
  padding: 5px;
  transition: all 0.35s ease-in-out;
}
.post-container a:hover > img {
  transform: scale(1.04);
}
.post-description {
  font-size: 0.7em;
  height: 105px;
  overflow: hidden;
  margin-top: 5px;
  font-weight: 500;
  color: #212121;
  padding: 5px;
  text-align: justify;
}
.post-details {
  font-weight: 600;
  font-size: 0.7em;
  margin-top: 5px;
  padding: 5px;
  color: crimson;
}
.post-date {
  font-size: 0.6em;
  color: #000;
}

.pagination-container {
  display: flex;
  float: right;
  margin: 10px;
}
.page-box {
  margin: 2px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  background: #efebeb;
  border-radius: 2px;
  padding: 6px 12px;
  font-size: 0.9em;
}
.active-page {
  background: #a09c9c;
}
.note {
  font-size: 1.4em;
  text-align: center;
}
@media screen and (max-width: 1120px) {
  .blog-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 975px) {
  .blog-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 720px) {
  .blog-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 620px) {
  .slider-container {
    margin-bottom: 10px;
  }
  .blog-container {
    margin: 20px 0px;
    gap: 3px;
  }
}
@media screen and (max-width: 320px) {
  .blog-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
